---
title: about
blurb: A brief description of the site
date: 2016-01-07
---
{{ define "head" }} <title> {{ .Info.Title }} </title> {{ end }}

{{ define "body" }} 
    <h2 class="article-title"> {{ .Info.Title }} </h2>
    <hr>
    <div class="article-box">
        <p> Something something something ... you should replace this! </p>
    </div>
{{ end }}
