{{ define "head" }} <title> about </title> {{ end }}

{{ define "body" }} 
    <h2 class="article-title"> about </h2>
    <hr>
    <div class="article-box">
        <p> Something something something ... you should replace this! </p>
    </div>
{{ end }}
