{{ define "head" }} <title> Index </title> {{ end }}

{{ define "body" }} 
    <h2 class="article-title"> index </h2>
    <hr>
        <div class="article-box">
            <p>This is the landing page for your blag!</p>
            <p> You should probably spruce it up a bit </p>
        </div>
{{ end }} 
