{{ define "head" }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" /> 
    <title> resume </title>
{{ end }}

{{ define "body" }}
    <h2 class="article-title"> Joe Q. Public </h2>
    <hr>
    <div class="article-box">
        <div id="resume-bar">
            <ul>
                <li> <i class="fa fa-phone"></i> 800.555.LOGS </li>
                <li> <i class="fa fa-map-marker"></i> 123 Main St, Townville </li>
                <li> <i class="fa fa-envelope"></i> <a href="mailto:#">bigguy@uuuu.net</a></li>
                <li> <i class="fa fa-globe"></i> <a href="#">anysite.tld</a></li>
            </ul>
        </div>
        <h3>Education</h3>
        University of Illinois at Urbana Champaign
        <br />
        PhD Underwater Basket-Weaving , May 2016
        <h3> Emplyoment </h3>
        <ul>
            <li> <i>Current:</i> Head Basket Weaver, Big Basket LLC </li>
            <li> August 2012 to December 2014: Code artisan, Starbucks </li>
        </ul>
        <h3> Skills </h3>
        <ul>
            <li>Baskets on Rails, weaving, skinny jeans</li>
        </ul>
    </div> 
{{ end }}
