{{ define "base" }} 
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    {{ template "head" . }}
</head>
<body>
<div id="nav">
    <span class="title">My Blag </span>
    <ul>
        <li> <a href="/about"> about </a></li>
        <li> <a href="/blog"> blog </a></li>
        <li> <a href="/resume"> resume</a></li>
        <li> <a href="/contact"> contact </a></li>
    </ul>
</div>
<div class="buffer">
<div class="content">
    {{ template "body" . }}   
</div>
</div>
</html>
{{ end }} 
