{{ define "head" }}
    <title> REEE </title>
    <link rel="stylesheet", href="/css/blog.css" type="text/css">
{{ end }}

{{ define "body" }}
    {{ range . }}
    <div class="listing">
    <a href="{{ .Path }}">
    <h2 class="article-title"> {{ .Title }} </h2>
    <p> {{ .Blurb }} </p>
    </a>
    </div>
    {{ end }}
{{ end }}
