{{ define "head" }}
    <title>Posts</title>
{{ end }}
    
{{ define "body" }}
    
    <style>
        /* override style from base template */
        .content {
            background-color:transparent;
        }
    </style>
    {{ $url := .Site.URL }} 
    {{ range $postID, $post := .Site.Posts }}
        <a href="{{ $url }}post/{{ $postID }}">
        <div class="listing">
        <h2 class="article-title">{{ $post.Title }}</h2>
        <p> {{ $post.Blurb }} </p>
        </div>
    {{ end }}
{{ end }}
