{{ define "head" }}
    <title> REEE </title>
    <link rel="stylesheet", href="{{ .URL }}css/blog.css" type="text/css">
{{ end }}

{{ define "body" }}
    {{ range .Pages }}
    <div class="listing">
    <a href="{{ .RelPath }}">
    <h2 class="article-title"> {{ .Info.Title }} </h2>
    <p> {{ .Info.Blurb }} </p>
    </a>
    </div>
    {{ end }}
{{ end }}
