{{ define "head" }} 
    <title> {{ .Info.Title }} </title> 
{{ end }}

{{ define "body" }} 
    <h2 class="article-title"> {{ .Info.Title }} </h2>
    <hr>
    <div class="article-box">
        {{.Body }}
    </div>

{{ end }}
